:root{
    --color-primary: #409EFF;
    --color-success: #67C23A;
    --color-warning: #E6A23C;
    --color-danger: #F56C6C;
    --color-info: #909399;
    --box-shadow: -6px 0 16px -8px rgba(0,0,0,.08),-9px 0 28px 0 rgba(0,0,0,.05),-12px 0 48px 16px rgba(0,0,0,.03);
    --color-text: #303133;
    --color-text-normal: #606266;
    --color-border: #DCDFE6;
    --font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
html,body,div,header,footer,main,section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family, "微软雅黑")
}