/** 重置默认元素的样式
***************************************/
body {
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 15px;
}
body * {
    box-sizing: inherit;
}
div,p,ul,ol{
    margin: 0;
    display: block;
}
.h1{
    font-weight: 500;
    font-size: 1.7em;
    margin 0 !important
}
.h2{
    font-weight: 500;
    font-size: 1.5em;
}

p{
    margin: 4px 0;
}


.ul{
    margin: 0;
}

/** 重置vuepress默认主题的sidebar样式
***************************************/
.sidebar > ul.sidebar-links > li > a.sidebar-link {
    font-size: 16px;
    font-weight: 500;
}
.sidebar > ul.sidebar-links > li > .sidebar-group > .sidebar-heading {
    font-size: 16px;
    font-weight: 500;
}

blockquote {
    border-left: 0.34rem solid #19be6b;
    background-color: rgba(66,185, 131, .1);
    padding-left: 0;
}
blockquote>p{
    color: #515a6e;
    font-size: 15px;
    padding: 0.8rem 1rem;
}

.custom-block {
    padding: 0.8rem 1.5rem !important;
    border-left-width: 0.4rem !important;
}

/** 自定义的class
***************************************/

.flex {
    display: flex;
}
.justify-content-space-between {
    justify-content: space-between;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}

.margin-top-12px {
    margin-top: 12px;
}
.margin-right-12px {
    margin-right: 12px;
}

