p{
    margin: 0;
}
.h1{
    font-weight: 500;
    font-size: 1.7em;
    margin 20px 0 20px 0
}
.h2{
    font-weight: 500;
    font-size: 1.5em;
}


.select{
    height: 32px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    vertical-align: bottom;
    padding-left: 10px;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    position relative
    padding-right: 20px;
    &:after{
        display: block;
        content: '123';
        position: absolute;
        top: 0px;
        right: 0;
        z-index: 10;
        width: 100px;
        height: 100px;
        background: red;
    }
    &:before{
        display: block;
        content: '456';
        position: absolute;
        top: -10px;
        left: 0;
        z-index: 10;
        width: 100px;
        height: 100px;
        background: red;
    }
    & option{
        padding: 10px;
        background-color: #ffffff;
    }
}