// 默认值
$accentColor = #409EFF
$textColor = #333333
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961



// 自定义颜色
$vue-black = #000000;
$vue-white = #ffffff;
$vue-transparent = transparent;

$vue-primary = #409EFF
$vue-success = #67C23A
$vue-warning = #E6A23C
$vue-danger = #F56C6C
$vue-info = #909399

$vue-border-color = #DCDFE6
