// 自定义颜色
$vue-black: #000000;
$vue-white: #ffffff;
$vue-transparent: transparent;

$vue-primary: #409eff;
$vue-success: #67c23a;
$vue-warning: #e6a23c;
$vue-danger: #f56c6c;
$vue-info: #909399;

$vue-border-color: #dcdfe6;
